# fly.toml app configuration file generated for pan-n-zoom on 2023-07-21T21:49:49+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "pan-n-zoom"
primary_region = "ams"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
