@keyframes demoImagePan {
  /* hold */
  0% {
    left: 50%; top: 50%; transform: scale(1.0) translate(-50%, -50%);
  }

  /* Fade image in */
  14% {
    left: 50%; top: 50%; transform: scale(1.0) translate(-50%, -50%);
  }

  /* Move to 1st location */
  28% {
    left: 168%; top: 212%; transform: scale(3.0) translate(-50%, -50%);
  }

  /* -- hold -- */
  37% {
    left: 168%; top: 212%; transform: scale(3.0) translate(-50%, -50%);
  }

  /* Move to 2nd location */
  51% {
    left: 63%; top: 115%; transform: scale(2.5) translate(-50%, -50%);
  }

  /* -- hold -- */
  60% {
    left: 63%; top: 115%; transform: scale(2.5) translate(-50%, -50%);
  }

  /* Move to 3rd location */
  74% {
    left: 128%; top: 46%; transform: scale(2.1) translate(-50%, -50%);
  }

  /* -- hold -- */
  82% {
    left: 128%; top: 46%; transform: scale(2.1) translate(-50%, -50%);
  }

  /* Back to start */
  100% {
    left: 50%; top: 50%; transform: translate(-50%, -50%);
  }
}

.demoImage {
  animation-name: demoImagePan;
  animation-duration: 12s;
  animation-iteration-count: infinite;

  position: absolute;
  width: 80%;

  left: 50%; top: 50%; transform: translate(-50%, -50%);
}