@keyframes keyframeWiggle {
  0% {
    transform: rotate(0deg);
    transform-origin: 30% center;
  }

  15% {
    transform: rotate(-1deg);
  }

  30% {
    transform: rotate(0.6deg);
  }

  45% {
    transform: rotate(-0.7deg);
    transform-origin: 70% center;
  }

  60% {
    transform: rotate(1.5deg);
  }

  75% {
    transform: rotate(-1.25deg);
  }

  90% {
    transform: rotate(1.3deg);
  }

  100% {
    transform: rotate(0deg);
    transform-origin: 30% center;
  }
}

.keyframe.wiggle {
  animation: keyframeWiggle 1.3s infinite;
}