.ionicon-wrapper {
    width: 1.2em !important;
    height: 1.2em !important;
    vertical-align: sub;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    @apply m-0 p-0 w-full h-full overflow-y-auto;
    @apply bg-white text-gray-800;
    @apply dark:bg-gray-900 dark:text-gray-200;
    font-family: "Shantell Sans Variable", sans-serif;
}

.btn {
    @apply no-animation normal-case;
}

.fullCentered {
    @apply w-full h-full flex flex-col justify-center items-center;
}